* {
  margin: 3px;
}
body {
  background: gray;
  color: white;
  margin-left: 100px;
}
button {
  background: black;
  color: gray;
  border-radius: 5px;
}
button:hover {
  color: yellow;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  color: red;
}
